.character-card {
  min-width: 300px;
  background-color: black;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
